<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name = "viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Tech Blog of Doom</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div class="flex full-container">
    <nav class="flex">     
            <a id="title" href="/">Tech Blog of Doom</a>
                <ul class="flex">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/dashboard">Dashboard</a>
                    </li>
                    {{#if logged_in}}
                    <li>
                        <button id="logout">Log Out</button>
                    </li>
                    {{/if}}
                      {{#unless logged_in}}
                    <li>
                        <a href="/login">Log In</a>
                    </li>
                    <li>
                        <a href="/signUp">Sign Up</a>
                    </li>
                    {{/unless}}
                </ul>      
    </nav>
    <main class="container">
        {{{body}}}
    </main>
</div>
<script src="/js/logout.js"></script>
</body>
</html>