* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"akshar", sans-serif;
}

html {
}

a {
    text-decoration: none;
    color: black;
}

.flex {
    display: flex;
    align-items: center;
}

.spread {
    justify-content: space-between;
    width: 90vw;
    padding: 1em 2em;
}

.full-container {
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

li {
    margin-left: 3em;
    list-style-type: none;
}

nav {
    width: 100vw;
    margin-bottom: 2em;
    padding: 1em;
    background-color:  rgb(227,244,97);
}

#title {
    font-size: 4em;
    margin-left: 1em;
}

#logout {
    border: none;
    font-size: 1em;
    font-family: Times;
    font-weight: 400;
}

.container {
    padding: 1em;
    margin: 0 2em 0 2em;
    width: 90vw;
}

.post {
    text-align: center;
    padding: 1em;
    width: 90vw;
}

.commentBlock {
    text-align: center;
    width: 65vw;
    margin: 0 auto;
}

.commentHeading {
}

.commentText {
    margin: 0.5em 0;
}

/*dashboard styles*/

#welcome {
    text-align: center;
    font-size: 3em;
}

.dash {
    justify-content: space-around;
}

#blog-title, #blog-desc {
    display: block;
}

#postList, #postForm {
   font-size: 2em; 
}

/*login and signup*/

.form-input {
    display: block;
}

/*blogpost page*/

.new-comment-form {
    background: black;
    display:flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
}

.new-comment-form textarea {
    text-align: center;
    font-size: 2em;
}

.new-comment-form button {
    width: 25%;
    margin: 0 auto;
    border-radius: 15%;
}

#blog-title {
    font-size: 1.25em;
    width: 100%;
}

#blog-desc {
    font-size: 1.25em;
    width: 100%;
    height: 200px;
}

#createPost {
    width: 100%;
    height: 2em;
    font-size: 1.5rem;
    background: black;
    color:rgb(227,244,97)
}